<a href="https://colab.research.google.com/github/Nabeel-nazeer/python-daily-lab-cycles/blob/main/Copy_of_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from traitlets.config.loader import JSONFileConfigLoader
print("hello world")

a=25
print(a)
print(type(a))

b=1.456
print(b)
print (type(b))

hello world
25
<class 'int'>
1.456
<class 'float'>

In [ ]:
#area of a circle
radius=int(input("enter radius"))
pi=3.14
area=pi*radius**2
print(area)

enter radius5
78.5

In [ ]:
#display name course and address
name=(input("enter your good name"))
college=(input("where are you studying in"))
year_of_study=int(input("year of study"))

print("name:" ,name.capitalize(),"\n","college:" ,college,"\n","year of study:" ,year_of_study)

enter your good namenabeel
where are you studying incusat
year of study2022
name: Nabeel
 college: cusat
 year of study: 2022

In [ ]:
#lower case,upper case and name
s1="nabeel"
s2="nazeer"
s3=s1+" "+s2
print(s3.upper())
print(s3.capitalize())

NABEEL NAZEER
Nabeel nazeer

In [ ]:
#find operation
word="pnuemonoultramicroscopicsilicovolcanoconiosis"
print(word.find("scosis")) 
print(word.find("micro"))

-1
13

In [ ]:
#find whweteher a number is 3 digit
num=int(input("enter the number"))
if num>99 and num<1000:
 print("the number is a 3 digit number")
else:
 print("the number is not a 3 digit number")

enter the number345
the number is a 3 digit number

In [ ]:
#if elif else
response=iam a student of cusat
if

In [ ]:
#split
print("how are you".split())

['how', 'are', 'you']

In [ ]:
s="hello"
print(s)
print(type(s))
d=True
print(d)
print(type(d))
f=4+3j
print(f)
print(type(f))

hello
<class 'str'>
True
<class 'bool'>
(4+3j)
<class 'complex'>

In [ ]:
a=25
b=4
ab_sum=a+b
print(ab_sum)

ab_dif=a-b
print(ab_dif)

ab_pro=a*b
print(ab_pro)

ab_div=a/b
print(ab_div)

ab_pow=a**b
print(ab_pow)

ab_flr=a//b
print(ab_flr)

ab_rem=a%b
print(ab_rem)

29
21
100
6.25
390625
6
1

In [ ]:
a=10
b=20
c=15
avg=(a+b+c)/3
print(avg)

15.0

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
avg=(a+b+c)/3
print("average is" ,avg)

enter a number9
enter a number8
enter a number7
average is 8.0

In [ ]:
# perimeter of a triangle
side_1=int(input("enter side_1"))
side_2=int(input("enter side_2"))
side_3=int(input("enter side_3"))
per=side_1+side_2+side_3
print("the perimeter is" ,per)

enter side_18
enter side_28
enter side_38
the perimeter is 24

In [ ]:
# area of a triangle
import math
a= int (input("enter side 1 ="))
b= int (input("enter side 2 ="))
c= int (input("enter side 3 ="))
sum=a+b+c
s=sum/2
m= s*(s-a)*(s-b)*(s-c)
area= math.sqrt(m)
print("the area is = " ,area)

enter side 1 =20
enter side 2 =23
enter side 3 =24
the area is =  212.39570970243255

In [ ]:
# time in seconds entered into hours minutes and seconds
seconds= int (input("enter the time in seconds = "))
hours= seconds//3600
t_1= hours*3600
t_2= seconds- t_1
minutes= t_2//60
t_3= minutes*60
seconds= t_2 - t_3
print("hours= " ,hours)
print("minutes= " ,minutes)
print("seconds= " ,seconds)

enter the time in seconds = 3665
hours=  1
minutes=  1
seconds=  5

In [ ]:

#print all natural numbers from m to n
m= int (input("enter the value for m ="))
i=m
n= int (input("enter n= "))
while i<=n:
  print(i)
  i+=1

enter the value for m =1
enter n= 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
m= int (input("enter m"))
n= int (input("enter n"))
step= int(input("step= "))
i=m
while i<=n:
  print(i)
  i=i+step

enter m1
enter n10
step= 10
1

In [ ]:
n=31
f=1
while f<=n:
  if n%f==0:
    print(f)
  f=f+1

1
31

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
#check whether num1 is multiple of num2 
num1= int(input("enter the larger number = "))
num2= int(input("enter the smaller number = "))
if num1>num2:
  multiple= num1%num2
  if num1%num2==0:
    print("larger number is divisible by smaller one")
  else:
    print("it is not divisible")

enter the larger number = 20
enter the smaller number = 5
larger number is divisible by smaller one

In [ ]:
#check whether entered number is a two digit 
number= int(input("ENTER THE NUMBER : "))
if number>9:
  if  number<100:
    print("The number you entered is a two digit number.")
  else:
    print("oops! The number you just entered is not a two digit number.")
else:
  print("oops! The number you entered is a one digit number")

ENTER THE NUMBER : 34
The number you entered is a two digit number.

In [ ]:
#check whether entered number is positive,negative or zero
number= int (input("ENTER THE NUMBER = "))
if number==0:
  print("The number you entered is zero")
else:
  if number<0:
    print("The entered number is negative")
  else:
    print("The entered number is positive")

ENTER THE NUMBER = -7
The entered number is negative

In [ ]:
#to check for prime number
a=int(input("Enter number: "))
k=0
for i in range(2,a//2+1):
    if(a%i==0):
        k=k+1
if(k<=0):
    print("Number is prime")
else:
    print("Number isn't prime")

Enter number: 2
Number is prime

In [ ]:
#factorial
n= int (input("enter the number"))
factorial=1
if n==0:
  print("Factorial= 1")
else:
  for i in range(1, n+1):
    factorial=factorial*i
  print("factorial = ", factorial)

enter the number4
factorial =  24

In [ ]:
#greatest of two number
n= int (input("enter num1"))
m= int (input("enter num2"))
if n<m:
  print("the greatest number is", m)
else:
  print("the greatest number is", n)

enter num13
enter num24
the greatest number is 4

In [ ]:
#interchange variable value
x= int (input("enter the value"))
rev=0
while x!=0:
  rem=x%10
  rev= rev*10+ rem 
  x= x//10
print("the reverse is = ", rev)

enter the value624
the reverse is =  426

In [ ]:
#n no. of odd numbers
n= int (input("enter the number odd numbers"))
c=0
for i in range(1, n+1):
  if i%2!=0:
    print (i)

enter the number odd numbers6
1
3
5

In [ ]:
#n terms of an AP
n= int (input("enter the number of terms"))
c= int (input("enter the common difference"))
a= int (input("enter the value of a"))
for i in range(a, n+1, c):
  print(i)

enter the number of terms6
enter the common difference2
enter the value of a1
1
3
5

In [ ]:
#to check the nature of roots
print("Equation: ax^2 + bx + c ")
a=int(input("Enter a: "))
b=int(input("Enter b: "))
c=int(input("Enter c: "))
d=b**2-4*a*c
d1=d**0.5
if(d<0):
    print("The roots are imaginary. ")
else:
    r1=(-b+d1)/2*a
    r2=(-b-d1)/2*a
    print("The first root: ",round(r1,2))
    print("The second root: ",round(r2,2))

Equation: ax^2 + bx + c
Enter a: 6
Enter b: 3
Enter c: 9
The roots are imaginary.

In [ ]:
#smallest digit in a two digit
n= int (input("enter the number"))
num1= n%10
num2= n//110
if num1>num2:
  print("the greater number is = ", num1)
else:
  print("the greater number is = ", num2)

enter the number24
the greater number is =  4

In [ ]:
#smallest of three numbers
a= int (input("enter number 1 = "))
b= int (input("enter number 2 = "))
c= int (input("enter number 3 = "))
if a>b and a>c:
  print("number 1 is the greatest")
else:
  if b>c:
    print("number 2 is greatest")
  else:
    print("number 3 is greatest")

enter number 1 = 70
enter number 2 = 2
enter number 3 = 3
number 1 is the greatest

In [ ]:
#sum of factors of a number
n= int (input("enter the number = "))
sum=0
for i in range(1, n+1):
  if n%i==0:
    sum=sum+i
print("the total sum of factors is = ", sum)

enter the number = 12
the total sum of factors is =  28

In [ ]:
#sum of n natural numbers
n = int (input("enter the number = "))
sum=0
for num in range(1,n+1):
  sum=sum+num
print("sum of n natural numbers is = ", sum)

enter the number = 3
sum of n natural numbers is =  6

In [ ]:
#convert number of days into  years  months and days
d = int (input("enter no. of days = "))
years= d//365
y1= years*365
y2= d-y1
months= y2//12
y3= months*30
days=y2-y3
print(years,":",months ,":",days)

enter no. of days = 366
1 : 0 : 1

In [ ]:
#n elements of a fibonacci series
def fibonacii(n):
  if n<=0:
    print("error! invalid input")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fibonacii(n-1)+fibonacii(n-2)
n= int (input("enter the number of elements = "))
print(fibonacii(n))

enter the number of elements = 10
34

In [ ]:
# to check for palindrome
n = int (input("enter the number to check"))
temp=n
rev=0
while n!=0:
  rem= n%10
  rev= rev*10+rem
  n=n//10
if(rev==temp):
  print("it is palindrome number")
else:
  print("it is not a plaindrome")

enter the number to check12121
it is palindrome number

In [ ]:
# Python program to check if the number is an Armstrong number or not(3 digit)
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num==sum:
  print(num,"is an Armstrong number")
else:
  print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
#x^n using loop
num= int (input("enter the number to find the power of = "))
pw= int (input("enter the power"))
k=1
for n in range(pw):
  k=k*num
print("the value is = ", k)

enter the number to find the power of = 3
enter the power3
the value is =  27

In [6]:
#gcd of two numbers
a = int(input("input number 1 = "))
b= int(input("input number 2 = "))
if b>a:
  for i in range(1, b//2+1):
    if a%i==0 and b%i==0:
      gcd =i
else:
  for i in range(1, a//2+1):
    if a%i==0 and b%i==0:
      gcd=i
print("the gcd of the two numbers is", gcd)

input number 1 = 24
input number 2 = 12
the gcd of the two numbers is 12

In [ ]:
#check for automorphic number